/* Banner at the bottom of page */
.creditSocials {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: #E9C46A;
  }
  
  a {
    color:#252422;
    font-weight: bold;
    text-decoration: none;
    border: 1px solid transparent;
  }
  a:visited {
    color: #252422;
    text-decoration: none;
  }
  a:hover ,
  a:focus {
    color: #EE7766;
  }
  
  .socials a{
    margin: 0 2%;
  }
  
  .initials {
    height: 14px;
  }
  
  