/* Expanded product details */

.blocker {
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 3;
}

.shopCart,
.expandedItem {
    background-color: #FFDF90;
    width: 80vw;
    max-width: 1500px;
    height: 80vh;
    position: fixed;
    left: 15%;
    bottom: 5%;
    z-index: 4;
    border: 3px solid #252422;
    border-radius: 18px;
    overflow: scroll;
    overflow-x: hidden;
    /* hiding scrollbar but keeping functionality */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}


/* Hide scrollbar for Chrome, Safari and Opera */

.shopCart:-webkit-scrollbar,
.expandedItem:-webkit-scrollbar {
    display: none;
}

.closeButton {
    text-align: center;
    font-size: 20px;
    color: #EB5E28;
    background-color: #252422;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 5;
    border: 2px solid transparent;
    border-radius: 50%;
    cursor: pointer;
}

.closeButton:hover,
.closeButton:focus {
    color: #252422;
    background-color: #EB5E28;
    border: 2px solid #252422;
}

.expandedImage {
    height: 100%;
    width: 75%;
    background-color: #FFFFFF;
    border-radius: 0 0 20px 0;
    padding: 2%;
}

.expandedImage img {
    height: 100%;
    max-height: 500px;
    width: 100%;
    object-fit: contain;
}

.expandedInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5%;
    margin: 0 auto;
}

.expandedSide {
    margin-top: 50px;
}

.expandedBubble {
    padding: 5%;
    margin: 10%;
}


.expandedBubble .itemPrice {
    padding: 5%;
}

.addToCart {
    margin-top: 20%;
    padding: 10%;
    cursor: pointer;
    border: 2px solid #252422;
}

.addToCart:hover,
.addToCart:focus {
    color: #252422;
    background-color: #EE7766;
    border: 2px solid #252422;
}

.expandedImgInfo {
    height: 50%;
    display: flex;
}

.expandedDesc {
    height: 50%;
}

.expandedTitle {
    color: #252422;
    font-size: 20px;
    margin: 2% 0 5% 0;
}